[{
		"id": "00",
		"name": "智能柜(原快递柜)",
		"cupboardProductType": [
		    {
				"id": "00",
				"name": "智能柜I（原丰巢快递柜）"
			},
			{
				"id": "01",
				"name": "智能柜II（原标准柜）"
			},
			{
				"id": "02",
				"name": "智能柜III（原简易柜）"
			},
			{
            	"id": "03",
            	"name": "智能柜I（三列副柜）"
            },
            {
            	"id": "04",
            	"name": "智能柜III（三列副柜）"
            }
		]
	},
	{
		"id": "01",
		"name": "冷藏柜",
		"cupboardProductType": [{
			"id": "00",
			"name": "冷藏柜"
		}]
	},
	{
		"id": "02",
		"name": "冷冻柜",
		"cupboardProductType": [{
			"id": "00",
			"name": "冷冻柜"
		}]
	},
	{
		"id": "03",
		"name": "彩票柜",
		"cupboardProductType": [{
			"id": "00",
			"name": "彩票柜"
		}]
	},
	{
		"id": "04",
		"name": "融合柜",
		"cupboardProductType": [
		    {
				"id": "00",
				"name": "融合柜I（原顺丰融合柜）"
			},
			{
				"id": "01",
				"name": "融合柜II"
			}
		]
	},
	{
		"id": "05",
		"name": "E栈快递柜",
		"cupboardProductType": [{
			"id": "00",
			"name": "E栈快递柜"
		}]
	},
	{
		"id": "06",
		"name": "E栈冷冻柜",
		"cupboardProductType": [{
			"id": "00",
			"name": "E栈冷冻柜"
		}]
	},
	{
		"id": "07",
		"name": "E栈洗衣柜",
		"cupboardProductType": [{
			"id": "00",
			"name": "E栈洗衣柜"
		}]
	},
	{
		"id": "08",
		"name": "共享信包柜",
		"cupboardProductType": [{
				"id": "00",
				"name": "信包柜I（原共享信包柜）"
			},
			{
				"id": "01",
				"name": "信包柜II（原标准信包柜）"
			}
		]
	},
	{
		"id": "09",
		"name": "独享信包柜",
		"cupboardProductType": [{
			"id": "00",
			"name": "独享信包柜"
		}]
	},
	{
		"id": "10",
		"name": "双面柜",
		"cupboardProductType": [{
			"id": "00",
			"name": "双面柜I"
		}]
	},
	{
		"id": "11",
		"name": "机器人智能仓",
		"cupboardProductType": [{
				"id": "00",
				"name": "智能仓I（原八面柜）"
			},
			{
				"id": "01",
				"name": "智能仓II"
			}
		]
	},
	{
		"id": "12",
		"name": "智能盒",
		"cupboardProductType": [{
			"id": "00",
			"name": "智能盒I"
		}]
	},
	{
		"id": "13",
		"name": "寄存柜",
		"cupboardProductType": [{
				"id": "00",
				"name": "寄存柜I"
			},
			{
				"id": "01",
				"name": "寄存柜II"
			},
			{
				"id": "02",
				"name": "寄存柜III（原高铁柜I）"
			},
			{
				"id": "03",
				"name": "寄存柜IV（原高铁柜II）"
			},
			{
				"id": "04",
				"name": "寄存柜V（公共储物柜）"
			}
		]
	},
	{
		"id": "14",
		"name": "政务柜",
		"cupboardProductType": [{
				"id": "00",
				"name": "政务柜I"
			},
			{
				"id": "01",
				"name": "政务柜II"
			},
			{
				"id": "02",
				"name": "政务柜III"
			},
			{
				"id": "03",
				"name": "政务柜IV"
			},
			{
				"id": "04",
				"name": "政务柜VI"
			}
		]
	},
	{
		"id": "15",
		"name": "爱沙尼亚定制柜",
		"cupboardProductType": [{
			"id": "00",
			"name": "爱沙尼亚定制柜I"
		}]
	},
	{
		"id": "16",
		"name": "售卖柜",
		"cupboardProductType": [{
				"id": "00",
				"name": "医药柜I"
			},
			{
				"id": "01",
				"name": "医药柜II"
			},
			{
				"id": "02",
				"name": "医药柜III"
			}
		]
	}
]